<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.holun.edu.mapper.EduSubjectMapper">

    <resultMap id="oneSubjectResultMap" type="OneSubject">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <collection property="children" javaType="list" ofType="TwoSubject" select="getTwoSubject" column="id" />
    </resultMap>
    
    <select id="getAllOneSubject" resultMap="oneSubjectResultMap">
        select id,title from edu_subject where parent_id = '0'
    </select>

    <select id="getTwoSubject" parameterType="string" resultType="TwoSubject">
        select id,title from edu_subject where parent_id = #{id}
    </select>

</mapper>